@import "normalize";

@import "partials/variables";

@import "partials/base";

@import "partials/notfound.scss";

@import "partials/hero";

@import "partials/login";

@import "partials/navigation";

@import "partials/textbox";

@import "partials/columns";

@import "partials/todo";

@import "partials/about";

@import "partials/organizations";

@import "partials/contact";

@import "partials/signup";

.slider-list {
    width: 100%;
}

.previous,
.next {
    display: none
}

.pagination {
    display: flex;
    list-style: none;
    margin:0 auto;
    justify-content: center;
    margin: 50px 0;
}

.pagination a {
    margin: 5px 20px;
    cursor: pointer;
    padding: 5px 10px;
    color: $colorDark;
    font-family: $fontPrimary;
    font-size: 12px;
}
