.home-about {
  margin-top: 50px;
    background-color: rgb(216, 216, 216);

    div.col-12 {
        padding: 0;
        margin: 0;
        }
        .box-flex {
            padding: 0;
        }
    

    .text {
        margin-top: 30px;
        font-size: 25px;
        margin-left: 100px;
        margin-right: 100px;
        line-height: 2;
        text-align: center;
    }

    img.img-fluid.signature {
   margin-top: 20px;
   padding-left: 200px;
    }
}