.hero {
  background-color: white;
  background-image: url("/assets/Home-Hero-Image.jpg");
  min-height: 670px;
  background-position: 20% left;
  background-position-x: -320px;
  background-repeat: no-repeat;
  margin-top: -150px;

  .title {
    margin-top: 150px;
  }
}