.signup {

    margin-top: -100px;

    .container-flex {
        flex-direction: column;
    }

    .container-btn {
        margin-top: 20px;
        flex-direction: row;
       

        .link {
            margin: 20px 20px 0 20px;
            border: 1px solid $colorDark;
            width: 150px;
            padding: 10px;
            background: transparent;
            margin-top: 20px;
            font-size: 15px;
            font-family: $fontPrimary;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: $colorDark;
            &:hover {
              text-decoration: none;
            color: $colorDark;
            }
          }
    }

    .contact-form {
        margin: 30px 0 0 0;
    }

    .input-title {
        text-align: center;
    }

}

.form-background {
    background-color: rgb(245, 244, 244);
    max-width: 400px;
    padding: 20px;
    margin-top: -20px;
}

