.to-do {
    background-color: rgb(216, 216, 216);
    min-height: 300px;

    .container-flex {
        flex-wrap: wrap;
    }

    .box-flex {
        display: flex;
        min-width: 200px;
        padding: 20px;
    }

    img {
        margin-top: 30px;
    }

    .title {
        font-size: 18px;
        margin-top: 30px;
    }

    .text {
        text-align: center;
        font-size: 15px;
        margin-top: 10px;
    }

}

.title-steps {
    margin-top: 30px;
    text-align: center;
}