$colorLight: #f0f1f1;
$colorBrown: #5e5322;
$colorGrey: #737373;
$colorDark: #3c3c3c;
$colorDeco: #fad648;

$fontPrimary: "Open Sans", sans-serif;

$fontSecondary: "Merriweather", serif;

@mixin link {
  text-decoration: none;
  color: $colorDark;
  padding: 10px;
}

@mixin border {
  border: 1px solid $colorGrey;
}
